html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

a{
  all: unset;
  cursor: pointer;
}

:root{
  --background-color: #E5E5E5;
  --second-background-color: #D8C9AA;
  --main-text-color: #19535F;
  --alternative-color: #7C2D26;
  --alternative-text-color: #0B7A74;
}

body{
  background-color: var(--background-color);
  font-family: 'Fira Sans', sans-serif;

  color: var(--main-text-color);

  font-size: 2.4rem;

  padding: 0;
  border: 0;
  margin: 0;

  box-sizing: border-box;
}

.text-color{
  color: var(--alternative-text-color);
}

.alternative-text-color{
  color: var(--alternative-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 4.3rem 13.5rem;

}

.header_middle-div a{
  margin-right: 10rem;
}

.header_links{
  font-size: 1.8rem;
}

.header_contact-button{
  all: unset;
  cursor: pointer;
  outline: 1px solid #7C2D26;

  padding: 1rem;

  border-radius: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 14rem;
}

.main_image{
  width: 15rem;
  border-radius: 50%;
}

.main_title{
  font-size: 6.4rem;
  font-weight: 700;
}

.document_title::after{
  content: "";
  display: block;
  width: 14rem;
  height: 0.5rem;
  background: var(--alternative-color);
  margin: 0.8rem auto;
}

.main_phrase{
  margin-bottom: 14rem;
}

.portfolio-section{
  display: flex;
  flex-direction: column;

  background-color: var(--second-background-color);

  padding: 8.8rem 14rem;
}

.container_left-section{
  display: flex;
  justify-content: space-between;
}

.document_text{
  max-width: 56rem;

  text-align: center;
}

.experience_carousel{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 6rem;
}

.glider_slide img{
  width: 100%;
  height: 50%;
  

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
} 

.glider_container{
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  max-width: 40rem;
  margin-right: 8rem;

  background-color: var(--background-color);

  border-radius: 1rem;
}

.glider_container-title{
  color: var(--alternative-color);


  font-weight: 700;
} 

.qualification_section{
  background-color: var(--background-color);
}

.qualifications{
  display: flex;

  justify-content: space-between;

  margin-top: 7.8rem;
}

.qualification_box{
  text-align: left;
  
  padding-left: 1rem;

  max-width: 20rem;
  border-left: 0.5rem solid #7C2D26;
}

.qualification_box p{
  color: var(--alternative-color);
  font-weight: 700;
}

.qualifications_complementary{
  margin-top: 6.2rem;
  text-align: left;
}

.qualifications_complementary span{
  font-size: 1.4rem;
}

.qualifications_complementary-info{
  display: flex;
  justify-content: space-between;

  color: var(--alternative-color);
}

.qualifications_complementary-language p{
  color: var(--alternative-color);
}

.qualifications_complementary-language span{
  color: var(--alternative-text-color);
  font-size: 1.8rem;
}

.footer{
  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 5.3rem 23rem 10rem;

  background-color: var(--second-background-color);
}

.footer_section{
  display: flex;

  align-items: center;
}

.footer_section p{
  max-width: 46rem;
  margin-right: 24rem;
  margin-bottom: 5rem;
}

.footer_contacts{
  display: flex;
  flex-direction: row;
}

.footer_contacts a{
  margin-bottom: 0.5rem;
}

.footer_icons{
  width: 3.2rem;

  margin-right: 1rem;

  filter: invert(24%) sepia(73%) saturate(536%) hue-rotate(143deg) brightness(83%) contrast(83%);
}

.footer_icons-git{
  margin-right: 1rem;

  width: 3.2rem;
}

@media (max-width: 950px){
  .header{
    flex-direction: column;
    justify-content: center;
  }

  .header_middle-div{
    margin-top: 1rem;
    margin-bottom: 1rem;

    text-align: center;
  }

  .header_middle-div a{
    margin-right: 1rem;
  }

  .main{
    margin-top: 10rem;
  }

  .main_phrase{
    margin-bottom: 7rem;
  }

  .container_left-section{
    align-items: center;
    flex-direction: column;
  }

  .footer p{
    text-align: center;
  }

  .footer_section{
    flex-direction: column;
    text-align: center;
  }

  .footer_section p{
    margin-right: 0;
  }
}

@media (max-width: 682px){
  .qualifications{
    flex-direction: column;
  }

  .qualification_box{
    margin-bottom: 3rem;
  }

  .footer{
    padding: 5.3rem 0rem;
    justify-content: center;
  }

  .footer_text{
    width: 30rem;
  }

  .footer p{
    width: 30rem;
  }
}

@media (max-width: 549px){
  .main{
    text-align: center;
  }

  .portfolio-section{
    padding: 3rem 0rem;
  }

  .document_text{
    width: 30rem;

  }

  .qualifications{
    flex-direction: column;
  }

}