html{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}

a{
  all: unset;
  cursor: pointer;
}

:root{
  --background-color: #E5E5E5;
  --main-text-color: #19535F;
  --alternative-color: #7C2D26;
}

body{
  background-color: var(--background-color);
  font-family: 'Fira Sans', sans-serif;

  color: var(--main-text-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 4.3rem 13.5rem;
}

.header_middle-div a{
  margin-right: 10rem;
}

.header_links{
  font-size: 1.8rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 14rem;
}

.main_image{
  width: 15rem;
  border-radius: 50%;
}

.main_title{
  font-size: 6.4rem;
  font-weight: 700;
}

.main_title::after{
  content: "";
  display: block;
  width: 14rem;
  height: 0.5rem;
  background: var(--alternative-color);
  margin: 0.8rem auto;
}

.main_phrase{
  font-size: 2.4rem;
}